@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* App.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~bootstrap/dist/css/bootstrap.css";


/* Your additional styles go here */

body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  background-color: #fcfcfc;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 10vh;
  background-color: #333333;
  position: relative;
  color: white;
  border-bottom: 4px solid #DD4B12;
}

.logo {
  /* height: 40px;
  width: 40px; */
}

.logo-img {
  width: 160px;
  height: 100%;
  object-fit: cover;
}

.menu-img {
  width: 60px;
  height: 50px;
  background-color: black;
  background-repeat: no-repeat;
}

.menu-icon {
  display: none;
}

.nav-elements {
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: white;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

/* Home Page */

.home-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.home-page {
  height: 80vh;
}

.test {
  position: relative;
}

.home-img {
  width: 100%; 
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.kitchen-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.title {
  font-size: 40px;
}